includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    scanFiles:
    - %currentWorkingDirectory%/vendor/saade/filament-adjacency-list/src/Forms/Components/AdjacencyList.php

