@import "tailwindcss";
@import '../../vendor/filament/filament/resources/css/theme.css';
@import '../../vendor/backstage/fields/resources/css/fields.css';

@source '../../src/**/*.php';
@source '../../resources/views/**/*.blade.php';
@source '../../vendor/filament/**/*.blade.php';

.fi-adjacency-list-wrapper {
    @apply w-full;
}

.fi-adjacency-list-tree {
    @apply w-full;
}

.fi-adjacency-list-item {
    @apply bg-white dark:bg-gray-900;
}

.fi-adjacency-list-root {
    @apply w-full;
}