name: PHPStan

on:
  push:
    paths:
      - '**.php'
      - 'phpstan.neon.dist'

jobs:
  carpenter:
    name: Finalizing the stage (PHP 8.2 on ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: none

      - name: Install dependencies
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{secrets.COMPOSER_AUTH}}"} }' # [tl! **]
        run: |
          composer config minimum-stability ${{ matrix.stability }}
          composer config repositories.backstage vcs git@github.com:vormkracht10/backstage.git
          composer config repositories.filament-redirects vcs git@github.com:vormkracht10/filament-redirects.git
          composer config repositories.laravel-redirects vcs git@github.com:vormkracht10/laravel-redirects.git
          composer config repositories.filament-fields vcs git@github.com:vormkracht10/filament-fields.git
          composer install --no-interaction --dev

      - name: Run PHPStan
        run: ./vendor/bin/phpstan --error-format=github
