name: Testing new Laravel App

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  laravel:
    name: Laravel (PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }})
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['8.1'] # , '8.2', '8.3'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Docs: https://github.com/shivammathur/setup-php
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, dom, fileinfo

      - name: Install Laravel Installer
        run: composer global require laravel/installer

      - name: Create a new Laravel app
        run: |
          laravel new laravel-app

      - name: Prepare and install backstage
        run: |
          cd laravel-app
          composer config repositories.backstage vcs git@github.com:vormkracht10/backstage.git
          composer require vormkracht10/backstage
          php artisan backstage:install
