name: Setup Backstage in Laravel

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  stagehand:
    name: Setup Backstage with Laravel (PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }})
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['8.2', '8.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, dom, fileinfo

      - name: Install Laravel Installer
        run: composer global require laravel/installer

      - name: Create a new Laravel app
        run: |
          laravel new theater

      - name: Prepare and install backstage
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{secrets.COMPOSER_AUTH}}"} }' # [tl! **]
        run: |
          cd theater
          composer config minimum-stability dev
          composer config repositories.backstage vcs git@github.com:vormkracht10/backstage.git
          composer config repositories.filament-redirects vcs git@github.com:vormkracht10/filament-redirects.git
          composer config repositories.laravel-redirects vcs git@github.com:vormkracht10/laravel-redirects.git
          composer require vormkracht10/backstage
          php artisan backstage:install
